<!-- <div class="form">
  <h1>Sign Up Form</h1>
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="validateForm"
    (ngSubmit)="registerDetails(validateForm.value)"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="userName" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your designation!">
        <nz-input-group nzPrefixIcon="rol">
          <input
            formControlName="desi"
            nz-input
            type="text"
            placeholder="Designation"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-control nzErrorTip="Please input your designation!">
      <nz-input-group nzPrefixIcon="Phone">
        <input
          formControlName="phone"
          nz-input
          type="text"
          placeholder="PhoneNumber"
        />
      </nz-input-group>
    </nz-form-control>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">
          Submit
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div> -->

<div>
  <div class="form">
    <h1>Sign Up Form</h1>
    <form #form="ngForm" (ngSubmit)="registerDetails(form.value)">
      <input ngModel type="text" name="userName" placeholder="UserName" />
      <br /><br />

      <input ngModel type="text" name="designation" placeholder="Designation" />
      <br /><br />
      <input ngModel type="number" name="number" placeholder="Phone Number" />
      <br /><br />
      <select ngModel name="userType" id="userType">
        <option value="Basic">Basic</option>
        <option value="Admin">Admin</option>
      </select>
      <br /><br />
      <button type="submit">Submit</button>
    </form>
    <br />
    <button><a routerLink="login">Log In</a></button>
  </div>
</div>
