<div>
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 100vh"
    *ngIf="!logInStatus"
  >
    <h1 class="">Please log in first</h1>
    <br />
    <button class="btn btn-secondary" routerLink="">Log In</button>
  </div>
  <div *ngIf="logInStatus">
    <div *ngIf="this.loader" style="height: 100vh">
      <app-loading-spiner></app-loading-spiner>
    </div>
    <div *ngIf="!this.loader">
      <app-navbar></app-navbar>
      <div>
        <div
          class="d-flex h-100 justify-content-center align-items-center"
          *ngIf="!isEdit"
        >
          <nz-card>
            <div class="card">
              <h3>
                Name:
                <span class="text-capitalize">
                  {{ this.currentUser.userName }}
                </span>
              </h3>
              <h3>
                Email:
                <span>{{ this.currentUser.email }}</span>
              </h3>
              <h3>
                Role :
                <span class="text-capitalize">
                  {{ this.currentUser.designation }}
                </span>
              </h3>
              <h3>
                Phone:
                <span>
                  {{ this.currentUser.number }}
                </span>
              </h3>

              <h3>
                UserType: <span>{{ this.currentUser.userType }} </span>
              </h3>
              <div>
                <button
                  nz-button
                  nzType="primary"
                  (click)="showModal(currentUser)"
                >
                  Edit
                </button>
              </div>
            </div>
          </nz-card>
        </div>
        <div *ngIf="isEdit">
          <div class="modal-form">
            <nz-modal
              [(nzVisible)]="isEdit"
              [nzStyle]="{ width: '50%' }"
              [nzFooter]="null"
              (nzOnCancel)="handleCancel()"
            >
              <ng-container *nzModalContent>
                <app-user-info-modal
                  (submitData)="updateAdmin($event)"
                ></app-user-info-modal>
              </ng-container>
            </nz-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
