<div>
  <div class="form">
    <h1>Log In</h1>
    <form #form="ngForm" (ngSubmit)="log(form.value)">
      <input
        type="email"
        [(ngModel)]="email"
        placeholder="Enter email"
        name="email"
      /><br /><br />
      <input
        type="password"
        [(ngModel)]="pass"
        placeholder="Enter password"
        name="pass"
      /><br /><br />
      <button type="submit">LogIn</button>
    </form>
    <br />
    <p>forget password <button>Reset</button></p>
    <br />
    <button><a routerLink="">Sign Up</a></button>
  </div>
</div>
