<app-navbar></app-navbar>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Designation</th>

      <th>PhoneNumber</th>
      <th>Type</th>
      <th>Update</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{ item.userName }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.designation }}</td>
      <td>{{ item.number }}</td>
      <td>{{ item.userType }}</td>
      <td>
        <button>Edit</button
        ><button (click)="deleteUser(item.uid)">Delete</button>
      </td>
    </tr>
  </table>
</div>
