<div>
  <!-- <div *ngIf="this.loader" style="height: 100vh">
    <app-loading-spiner></app-loading-spiner>
  </div> -->

  <!-- <div *ngIf="!this.loader"> -->
  <div *ngIf="!this.currentUser">
    <div class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Register Details</h2>
                  <p class="text-white-50 mb-5">
                    Please enter your details here!
                  </p>
                  <form #form="ngForm" (ngSubmit)="registerDetails(form.value)">
                    <div class="form-outline form-white mb-4">
                      <input
                        ngModel
                        type="email"
                        name="userName"
                        id="typeUserNamerX"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label mt-1" for="typeEmailX"
                        >UserName</label
                      >
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input
                        ngModel
                        type="text"
                        name="designation"
                        id="typeDesX"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label mt-1" for="typeDesX"
                        >Designation</label
                      >
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input
                        ngModel
                        type="number"
                        name="number"
                        id="typeNumX"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label mt-1" for="typeNumX"
                        >Phone Number</label
                      >
                    </div>

                    <button
                      class="btn btn-outline-light btn-lg px-5 mt-3"
                      type="submit"
                    >
                      Submit
                    </button>
                  </form>
                </div>

                <div>
                  <p class="mb-0">
                    <a routerLink="" class="text-white-50 fw-bold">Back</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.currentUser">
    <app-profile routerLink="profile"></app-profile>
  </div>
</div>
<!-- </div> -->
