<div>
  <h1>Sign Up Form</h1>
  <form #form="ngForm" (ngSubmit)="getData(form.value)">
    <input ngModel type="text" name="fname" placeholder="fname" />
    <br /><br />
    <input ngModel type="text" name="lname" placeholder="lname" />
    <br /><br />
    <input ngModel type="email" name="email" placeholder="email" />
    <br /><br />
    <input ngModel type="text" name="designation" placeholder="designation" />
    <br /><br />
    <input ngModel type="password" name="pass" placeholder="password" />
    <br /><br />
    <button type="submit" (click)="realReg(form.value)">Submit</button>
  </form>
  <br />
  <button><a routerLink="login">Log In</a></button>
</div>
