/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ant-modal-content {
  background-color: transparent !important;
}
.ant-modal-body {
  padding: 0 !important;
  box-shadow: none;
}
.ant-modal-close-x {
  margin-top: 2rem;
  margin-right: 5.5rem;
  color: white;
}
