
  <div *ngIf="this.loader" style="height: 100vh">
    <app-loading-spiner></app-loading-spiner>
  </div>

<div *ngIf="!this.loader">

  <section class="vh-95" style="margin-top: 8%">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3 profile" style="border-radius: 0.5rem">
            <div class="row g-0">
              <div
                class="col-md-5 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                "
              >
                <div>
                  <nz-upload
                    class="avatar-uploader py-5 img-user"
                    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                    nzName="avatar"
                    nzListType="picture-card"
                    [nzShowUploadList]="false"
                    [nzBeforeUpload]="beforeUpload"
                    (nzChange)="handleChange($event)"
                    [nzShowButton]="true"
                  >
                    <ng-container *ngIf="!avatarUrl">
                      <span class="upload-icon showIcon" nz-icon
                        ><img
                          class="py-5 mt-2 img-user"
                          src="{{ this.currentUser.picture }}"
                          alt=""
                      />
                      <div class="overlay">
                        <div class="text"><span nz-icon nzType="upload" nzTheme="outline"></span></div>
                      </div>
                    </span>
                    </ng-container>
                    <div class="showIcon">
                    <img class="py-5 mt-2 img-user"
                      *ngIf="avatarUrl"
                      [src]="avatarUrl"

                    />

                  </div>
                  </nz-upload>
                </div>

                <h5 class="text-capitalize text-white mt-1">
                  {{ this.currentUser.userName }}
                </h5>
                <p class="fw-bold text-capitalize">
                  {{ this.currentUser.designation }}
                </p>

              </div>
              <div class="col-md-7">
                <div class="edit-btn">
                  <button
                    nz-button
                    nzType="default"
                    (click)="showModal(currentUser)"
                  >
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>
                </div>
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-3" />
                  <div class="row pt-1">
                    <div class="col-12 mb-1">
                      <h6>Email</h6>
                      <p class="text-muted">{{ this.currentUser.email }}</p>
                    </div>
                  </div>
                  <hr class="mt-0 mb-3" />
                  <div class="row pt-1">
                    <div class="col-6 mb-1">
                      <h6>Phone</h6>
                      <p class="text-muted">{{ this.currentUser.number }}</p>
                    </div>
                  </div>
                  <hr class="mt-0 mb-3" />
                  <div class="row pt-1">
                    <div class="col-12 mb-1">
                      <h6>UserType</h6>
                      <p class="text-muted">{{ this.currentUser.userType }}</p>
                    </div>
                    <!-- <hr class="mt-0 mb-3" style="width: 88%; margin-left: 9px;" /> -->
                    <!-- <div class="row pt-1">
                      <div class="col-12 mb-1">
                      <h6>About Me</h6>
                      <p class="text-muted" style="font-size: 1rem">
                        Hey my name is
                        <span class="text-capitalize fw-bold">{{
                          this.currentUser.userName
                        }}</span>
                        and my proffesion is
                        <span class="text-capitalize fw-bold">{{
                          this.currentUser.designation
                        }}</span
                        >
                      </p>
                    </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal-form">
    <nz-modal
      [(nzVisible)]="isEdit"
      [nzStyle]="{ width: '30%' }"
      [nzFooter]="null"
      (nzOnCancel)="handleCancel()"
      nzWrapClassName="edit-user"
      nzClassName="edit-class-user"
      [nzMaskClosable]="false"
    >
      <div class="modal-body">
        <ng-container *nzModalContent>
          <app-user-info-modal
            (submitData)="updateAdmin($event)"
            (fillup)="showModal($event)"
            [name]="name"
            [designation]="designation"
            [number]="number"
          ></app-user-info-modal>
        </ng-container>
      </div>
    </nz-modal>
  </div>

</div>
