
.modal-body {
  width: 100% !important;
}
.gradient-custom {
  background: #1d1a1a;

  background: -webkit-linear-gradient(
    to right bottom,
    rgb(39, 37, 37),
    rgb(36, 36, 36)
  );
}
.overlay {
  position: absolute;
  top:0;
  margin-top: 5rem;
  margin-left: 3.5rem;
  opacity: 0;
  height: 3rem;
  width: 3rem;
  transition: .5s ease;
  border-radius: 50%;
  background-color: #1d1a1a;
}

.showIcon:hover .overlay {
  opacity: .9;
}

.text {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 4px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-user {
  border-radius: 50%;
  object-fit: fill;
  height: 15rem;
  width: 10rem;

}
.image-user:hover{
  opacity: 0.9;
}
.edit-btn{
  float:right;
  border-radius:2%;
  margin: 5px;
}
body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}
