<div class="container">
  <div class="card m-5 p-2">
    <div class="card-body">
       <table class="table table-dark table-stripted table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empList">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.username}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.address.city}}</td>

          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>
