<div class="container">
  <div class="card m-3">
    <div class="card-body ">
       <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigers" class="table table-dark table-stripted table-hover" >
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Count</th>
            <!-- <th>Operation</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empList">
            <td>{{emp.id}}</td>
            <td>{{emp.title}}</td>
            <td>{{emp.price}}</td>
            <td>{{emp.rating.rate}}</td>
            <td>{{emp.rating.count}}</td>
          <!-- <td>
            <button nz-button nzType="primary" nzDanger (click)="deleteEmp(emp.id)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </td> -->
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>
